h3 {
  display: inline;
  margin: 10px 150px 150px 20px;
  padding: 20px;
}

img {
  display: block;
  float: left;
  width:20%;
  height: 20%;
  margin-top: 20px;
  padding:5px;
}

ul {
  margin-top: 400px;
}

li {
  display: block;
  position: relatvie;
}

/** {
outline: solid black 5px;
}*/
