h3 {
  display: inline;
  margin: 10px 150px 150px 20px;
  padding: 20px;
}

img {
  display: block;
  float: left;
  width:20%;
  height: 15%;
  margin-top: 20px;
  padding:5px;
}

ul {
  margin-top: 450px;
}

li {
  display: block;
  position: relatvie;
}
